In [ ]:
#Use the relative Strength Index (RSI) and Python to determine 
#if a stock is being-over bought or over-sold

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
df = pd.read_csv('stock_dfs_handmade/aapl.csv')
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2015-12-30,108.699997,107.180000,108.580002,107.320000,25213800.0,99.780022
1,2015-12-31,107.029999,104.820000,107.010002,105.260002,40912300.0,97.864746
2,2016-01-04,105.370003,102.000000,102.610001,105.349998,67649400.0,97.948441
3,2016-01-05,105.849998,102.410004,105.750000,102.709999,55791000.0,95.493919
4,2016-01-06,102.370003,99.870003,100.559998,100.699997,68457400.0,93.625145
...,...,...,...,...,...,...,...
1003,2019-12-24,284.890015,282.920013,284.690002,284.269989,12119700.0,282.831299
1004,2019-12-26,289.980011,284.700012,284.820007,289.910004,23280300.0,288.442780
1005,2019-12-27,293.970001,288.119995,291.119995,289.799988,36566500.0,288.333313
1006,2019-12-30,292.690002,285.220001,289.459991,291.519989,36028600.0,290.044617
1007,2019-12-31,293.679993,289.519989,289.929993,293.649994,25201400.0,292.163818

In [3]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))
df

,Date,High,Low,Open,Close,Volume,Adj Close
2015-12-30,2015-12-30,108.699997,107.180000,108.580002,107.320000,25213800.0,99.780022
2015-12-31,2015-12-31,107.029999,104.820000,107.010002,105.260002,40912300.0,97.864746
2016-01-04,2016-01-04,105.370003,102.000000,102.610001,105.349998,67649400.0,97.948441
2016-01-05,2016-01-05,105.849998,102.410004,105.750000,102.709999,55791000.0,95.493919
2016-01-06,2016-01-06,102.370003,99.870003,100.559998,100.699997,68457400.0,93.625145
...,...,...,...,...,...,...,...
2019-12-24,2019-12-24,284.890015,282.920013,284.690002,284.269989,12119700.0,282.831299
2019-12-26,2019-12-26,289.980011,284.700012,284.820007,289.910004,23280300.0,288.442780
2019-12-27,2019-12-27,293.970001,288.119995,291.119995,289.799988,36566500.0,288.333313
2019-12-30,2019-12-30,292.690002,285.220001,289.459991,291.519989,36028600.0,290.044617
2019-12-31,2019-12-31,293.679993,289.519989,289.929993,293.649994,25201400.0,292.163818

In [ ]:
%matplotlib notebook
plt.figure(figsize=(12.2,4.5))
plt.plot(df.index, df['Adj Close'])
plt.xlabel('Date', fontsize = 18)
plt.ylabel('Adj CLose Price', fontsize = 18)
plt.show()

In [4]:
#Prepare data to caculate the RSI

#Get the diff in p
delta = df['Adj Close'].diff(1)
delta

2015-12-30         NaN
2015-12-31   -1.915276
2016-01-04    0.083694
2016-01-05   -2.454521
2016-01-06   -1.868774
                ...
2019-12-24    0.268616
2019-12-26    5.611481
2019-12-27   -0.109467
2019-12-30    1.711304
2019-12-31    2.119202
Name: Adj Close, Length: 1008, dtype: float64

In [5]:
#get rid of NAN
delta = delta.dropna()
delta

2015-12-31   -1.915276
2016-01-04    0.083694
2016-01-05   -2.454521
2016-01-06   -1.868774
2016-01-07   -3.951431
                ...
2019-12-24    0.268616
2019-12-26    5.611481
2019-12-27   -0.109467
2019-12-30    1.711304
2019-12-31    2.119202
Name: Adj Close, Length: 1007, dtype: float64

In [ ]:
#Get up and down
up = delta.copy()
down = delta.copy()

up[up<0] = 0
down[down>0] = 0

In [ ]:
#Get the time period
period = 14
#Calculate the average gain and average loss
AVG_Gain = up.rolling(window=period).mean()
AVG_Loss = abs(down.rolling(window=period).mean())

In [ ]:
#Cal the RSI

#Cal the RS
RS = AVG_Gain / AVG_Loss
#Cal the RSI
RSI = 100.0 - (100.0 / (1.0 + RS))
RS

In [ ]:
#Show RSI
plt.figure(figsize=(12.2,4.5))
RSI.plot()
plt.show()

In [ ]:
#put all tgt

new_df = pd.DataFrame()
new_df['Adj Close'] = df['Adj Close']
new_df['RSI'] = RSI
new_df

In [ ]:
%matplotlib notebook
plt.figure(figsize=(12.2,4.5))
plt.plot(new_df.index, new_df['Adj Close'])
plt.legend(new_df.columns.values, loc = 'upper left')
plt.show()

plt.figure(figsize=(12.2,4.5))
plt.plot(new_df.index, new_df['RSI'])
plt.axhline(0, linestyle='--', alpha = 0.5, color = 'red')
plt.axhline(10, linestyle='--', alpha = 0.5, color = 'orange')
plt.axhline(20, linestyle='--', alpha = 0.5, color = 'yellow')
plt.axhline(30, linestyle='--', alpha = 0.5, color = 'grey')
plt.axhline(70, linestyle='--', alpha = 0.5, color = 'grey')
plt.axhline(80, linestyle='--', alpha = 0.5, color = 'yellow')
plt.axhline(90, linestyle='--', alpha = 0.5, color = 'orange')
plt.axhline(100, linestyle='--', alpha = 0.5, color = 'red')